Name:<input type="text" [(ngModel)]="user.name" name="name" required/><br/>
Email:<input type="text" [(ngModel)]="user.email" name="email" required/><br/>
Password:<input type="password" [(ngModel)]="user.password" name="password" required/><br/>
DOB:<input type="date" [(ngModel)]="user.dob" name="dob" required/><br/>
<input id="male" type="radio" [(ngModel)]="user.gender" name="gender" value="Male"/> Male
<input id="female" type="radio" [(ngModel)]="user.gender" name="gender" value="Female"/> Female
<input id="others" type="radio" [(ngModel)]="user.gender" name="gender" value="Others"/> Others<br/>
<input type="submit" value="Submit" (click)="addUser()"/>
<div>
  <h5>{{message}}</h5>
</div>
